<div class="card card-body">
  <h3>New Recipe</h3>
  <hr>
  <label>Recipe Name</label>
  <input #newName required>
  <label>Instructions</label>
  <textarea rows="7" #newInstruct required></textarea>
  <label>Description</label>
  <textarea rows="4" #newDesc required></textarea>
  <label>Ingredients</label>
  <textarea rows="3" #newIngredients required></textarea>
  <label>Tags</label>
  <textarea rows="2" #newTags required></textarea>
  <label>Image</label>
  <input #newImage required>
  <hr>
  <button (click)="submitForm(newName.value, newInstruct.value, newDesc.value, newIngredients.value, newTags.value, newImage.value); newName.value=''; newInstruct.value=''; newDesc.value=''; newIngredients.value=''; newTags.value=''; newImage.value='';">Add</button>
</div>
