<div *ngIf="childSelectedRecipe" class="card card-body">
  <h3>Edit Recipe</h3>
  <hr>
  <label for="name">Recipe Name</label>
  <input type="text" [(ngModel)]="childSelectedRecipe.name" required>
  <label for="instructions">Instructions</label>
  <textarea rows="7" type="text" [(ngModel)]="childSelectedRecipe.instructions" required></textarea>
  <label for="description">Description</label>
  <textarea rows="4" type="text" [(ngModel)]="childSelectedRecipe.description" required></textarea>
  <label for="ingredients">Ingredients</label>
  <textarea rows="3" type="text" [(ngModel)]="childSelectedRecipe.ingredients" required></textarea>
  <label for="tags">Tags</label>
  <textarea rows="2" type="text" [(ngModel)]="childSelectedRecipe.tags" required></textarea>
  <label for="image">Image</label>
  <input type="text" [(ngModel)]="childSelectedRecipe.image" required>
  <hr>
  <button type="submit" (click)="doneEditing()">Done</button>
</div>
